﻿@model IEnumerable<StoreMVC.Models.CategoryQuantityOfProductsViewModel>

@{
    ViewData["Title"] = "CategoryQuantityOfProducts";
}

<h1>CategoryQuantityOfProducts</h1>

<p>
    <a asp-action="Create">Create New Category</a>
</p>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Number of Products
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productsQuantity)
            </td>
        </tr>
}
    </tbody>

</table>

