﻿@model StoreMVC.Models.ProductsViewModel


@{
    ViewData["Title"] = "Product Filter";
}

<h1>Find your products</h1>

<p>
    <a asp-action="Create">Create New Product</a>
</p>

<!-- Filter Form creation -->
@using (Html.BeginForm())
{
    <div class="row">

        <!-- Search Name Label & Input field -->
        <div class= "col-4">
            <div class= "editor-label">
                @Html.LabelFor(model => model.SearchName)
            </div>
            <div class= "editor-field">
                @Html.EditorFor(model => model.SearchName)
            </div>
        </div>
        
        <!-- Search Price Label & Input field -->
        <div class= "col-4">
            <div class= "editor-label">
                @Html.LabelFor(model => model.SearchPrice)
            </div>
            <div class= "editor-field">
                @Html.EditorFor(model => model.SearchPrice)
            </div>
        </div>

        <div class= "col-4">
            <button type="submit" class="btn btn-primary">
                Filter Products
            </button>
        </div>

    </div>
}

<!-- Table with Products filtered -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.ElementAt(0).Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.ElementAt(0).Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.ElementAt(0).Categories)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Price)
            </td>
            <td>
                @if (product.Categories != null)
                {
                        <!-- TODO: Implement conditional rendering if Product has no categories -->
                    @foreach (var category in product.Categories.ToList())
                    {
                        <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">
                            @category.Name
                        </a>
                    }
                }   
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@product.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>